<head>
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <style type="text/css">
    button{
      margin: 0;
      padding: 0;
      background-color: #17a2b8;
 
 
    }
  </style>

  <head>

  <body>
    <div class="container pt-10 d-flex float-right">
      <form action="/users"><button class="btn ">List users </button></form>
      <form class="pl-6 float-right" action="/logout" method="POST"> <button class="btn  float-right"> Log
          out
        </button>
      </form>
  </div>
  </body>